
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel { 
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.04);

}

body{
  background-color: #CCEEF2;
}

.bg-teal--900{
  background-color: #ffed4a;
  color: #2c7a75
}
.ml-4{
  margin-left: 10px !important;  
}

.jumbotron{
  padding: 8rem 14rem;
  margin-bottom: 2 rem;
  background-size: 99%;
}